* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans JP', sans-serif;
}

body, form, .result{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

body {
    min-height: 100vh;
    background-color: #85FFBD;
    background-image: linear-gradient(45deg, #85FFBD 0%, #FFFB7D 100%);

}

form, .result {
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    width: 60vh;
}

form {
    margin: 20px;
    padding: 40px;
}

.result {
    padding: 10px;
}

.result > p {
    padding: 5px;
    color: limegreen;
}

input {
    margin: 10px;
    padding: 5px;
    width: 100%;
    outline: none;
}

h2 {
    font-size: 32px;
    color: rgba(10, 7, 7, 0.65);

}

input[type='text'] {
    border: none;
    border-bottom: 1px solid lightgreen;
    font-size: 18px;
    letter-spacing: 1px;
    color: limegreen;
}

input[type='text']:focus {
    border-bottom: 2px solid greenyellow;
}

input[type='submit'] {
    border: none;
    cursor: pointer;

}


.btn-grad {background-image: linear-gradient(to right, #1D976C 0%, #93F9B9  51%, #1D976C  100%)}
.btn-grad {
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
}

.btn-grad:hover {
    background-position: right center;
    color: #fff;
    text-decoration: none;
}
